@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    margin: 0px;

}

.btn-secondary{
    border:1px solid #107410 !important;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
.login {
    background: #943e16;
}
.login .logo img{
    width: 60%;

}
.image{
    background-size: cover;
}
.icon {
    font-size: 27px;
    color: #FFFFFF;
}
.input {
    font-family:'Open Sans';
    color: #ffffff;
    background-color: inherit;
    font-size: 20px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    width: 85%

}
.tags{
    border-bottom-width: 1px !important;
    border-bottom-color: white !important;
    /* margin:20px 0px; */
}
.btn {
    border-radius: 10px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    background-color: white;
    color: rgb(122, 67, 184);
    border-radius: 15px;
    width: 96px;
}
form {
    height: 273px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 40%
}
/* .image-holder{
    background: url(../assets/onboardingteachers.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 60%;
} */
.image-holder2{
    background: url(../assets/onboardingteachers.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 60%;
}
input::placeholder{
    color:white;
    opacity: 0.7;
}
hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid white;
    background-color: white;
}
.a-img{
    background:url(../assets/Starsmixed.png) center center;
    background-size: 300px 200px;
    background-repeat: no-repeat;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 12px;
    right: 792px;
}
@media(max-width:768px){
    .container-fluid {
        flex-direction: column;
    }
    .image-holder2 {
        height: 100vh;
        width: 100%;
    }
    .login {
        height: 100vh;
        width: 100%;
    }

    .image-holder {
        height: 100vh;
        width: 100%;
    }

}
